extends layout

block primary

    include header.pug

    if (isAdmin || isAdminGeneral)
        div(class="d-flex flex-row mt-3")
            div(class="col-12 text-start p-1 text-dark")
                p Empresa: #{name}

        div(class="d-flex flex-row")
            div(class="col-4 text-start p-1 text-dark")
                if (isAdmin || isAdminGeneral) 
                    if (list.length > 0)
                        select(class="form-select" aria-label="Default select" id="clients")
                            each record in list
                                option(value=record.Id) #{record.Name}
                    else
                        p Nenhum despachante cadastrado.

            div(class="col-4 text-center p-1 text-dark box-values")
                p Total de Recebimentos
                ul(class="list-inline")
                    li(class="list-inline-item") R$
                    li(class="list-inline-item value-spotlight") #{total}

            div(class="col-4 text-end p-1 text-dark")
                div(class="row")
                    div(class="col-12")
                        select(class="form-select" aria-label="Default select" id="dias")
                            option(value=7) Ultimos 7 dias
                            option(value=15) Ultimos 15 dias
                            option(value=30) Ultimos 30 dias
                            option(value=60) Ultimos 60 dias
                div(class="row mt-2")
                    div(class="col-6")
                        button(class="btn btn-primary")
                            i + Cobrança
                    div(class="col-6")
                        button(class="btn btn-primary")
                            <i class="fa-solid fa-file-excel"></i> Exportar

    else
        div(class="d-flex flex-row mt-3")
            div(class="col-8 text-start p-1 text-dark")
                p #{name}
        
            div(class="col-4 text-start p-1 text-dark")
                select(class="form-select" aria-label="Default select" id="dias")
                    option(value=7) 7 dias
                    option(value=15) 15 dias
                    option(value=30) 30 dias
                    option(value=60) 60 dias

    div(class="d-flex flex-row mt-3")
        div(class="col-12 text-center p-1 text-dark m-1")
            p &nbsp;
            p &nbsp;
            p Em desenvolvimento
            p &nbsp;
            



